extends layout

block content
    h1 PlantSocial 
    p Plant Social is a small database which contains information about plant interactions. Some plants benefit from being planted in proximity to others, while some relationships are deteriorating. Contribute your experience so we can all know what to plant together
    p Plant Social ia available as 
        a(href="/api/v1/") resfulAPI serrvice. 
        | For more information reffer to 
        a(href="/api-docs") swagger doccumentation 