extends ../layout

block content
    h1 Add new plant
    form(method="POST",action='/plants/add')
        #form-group
            lable Common name:
            input.form-control(name="commonName",type="text")
        #form-group
            lable Latin name:
            input.form-control(name="latinName",type="text")
        #form-group
            lable Variety:
            input.form-control(name="variety",type="text")
        #form-group
            lable Description:
            textarea.form-control(name="description",type="text")
        #form-group
            lable Hardiness:
            input.form-control(name="hardiness",type="text")
        br
        input.btn.btn-primary(type="submit", value="submit")