extends ../layout

block content
    h1 #{title}
    ul
        each plant, p in plants
            a(href="/plants/"+plant._id) 
                li.list-group-item=plant.latinName
        if currentUser        
            a(href="/plants/add") 
                li.list-group-item 
                    input.btn.btn-primary.pull-right(type="button", value="Add new")