extends ../layout

block content
    h1 Add new organism
    form(method="POST",action='/organisms/add')
        #form-group
            lable Common name:
            input.form-control(name="commonName",type="text")
        #form-group
            lable Latin name:
            input.form-control(name="latinName",type="text")
        #form-group
            lable Description:
            textarea.form-control(name="description",type="text")
        br
        input.btn.btn-primary(type="submit", value="submit")